.advantages {
  padding-top: 94px;

  &__list {
    display: flex;
    gap: 30px;
  }
  
  &__item {
    width: 270px;
  
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 120px;
      background-color: #f5f4fa;
      background-size: 70px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  &__ssi1::before {
      background-image: url(../../../img/imgIndex/ssi/antenna1.webp);
  }
  
  &__ssi2::before {
    background-image: url(../../../img/imgIndex/ssi/clock2.webp);
  }
  
  &__ssi3::before {
    background-image: url(../../../img/imgIndex/ssi/diagram3.webp);
  }
  
  &__ssi4::before {
      background-image: url(../../../img/imgIndex/ssi/astronaut4.webp);
  }
  
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14285714;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  
    margin-top: 33px;
    margin-bottom: 10px;
  }
  
  &__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71428571;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
}

