.advantages {
  @include sections-retreat(94px);

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    width: 270px;

    &::before {
      @extend %pseudo-elements-basic-styles;
      height: 120px;
      background-color: $advantages-before-bc-team-bc-portfolio-link-color;
      background-size: 70px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__ssi1::before {
    background-image: url(../../img/imgIndex/ssi/antenna1.webp);
  }

  &__ssi2::before {
    background-image: url(../../img/imgIndex/ssi/clock2.webp);
  }

  &__ssi3::before {
    background-image: url(../../img/imgIndex/ssi/diagram3.webp);
  }

  &__ssi4::before {
    background-image: url(../../img/imgIndex/ssi/astronaut4.webp);
  }

  &__title {
    @include text-styles();
    color: $dark-gray-color;
    text-transform: uppercase;

    margin-top: 33px;
    margin-bottom: 10px;
  }

  &__paragraph {
    @include text-styles(14px, 1.72, 400);
    color: $light-gray-color;
  }
}
