.hero {
    background-image: url(../../../img/imgIndex/herobc.webp);
    padding-top: 200px;
    padding-bottom: 200px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    position: relative;
    height: 600px;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.4);
  }
  
  .hero-container {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translatex(-50%);
  }
  
  .hero-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36363636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  .hero-button {
    display: block;
    cursor: pointer;
    border-radius: 4px;
    background-color: #2196f3;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    margin: 0 auto;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hero-button:hover {
    transform: scale(1.08);
  }