.hero {
  position: relative;
  height: 600px;
  @include sections-retreat(200px, 200px);
  background-image: url(../../../img/imgIndex/herobc.webp);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $hero-overlay-bg;
  }

  &__container {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translatex(-50%);
  }

  &__tittle {
    margin-bottom: 30px;
    @include text-styles(44px, 1.36, 900, 00.06em);
    color: $white-color;
    text-align: center;
    text-transform: uppercase;
  }

  &__button {
    display: block;
    padding: 10px 32px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: $color-blue;
    @include text-styles(16px, 1.88, 700, 0.06em);
    color: $white-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.08);
    }
  }
}
