.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $modal-bc;
  backdrop-filter: blur(5px);
  opacity: 1;
  z-index: 100;

  transform: scale(1);
  transition-duration: 500ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.no-scroll {
  overflow: hidden;
}

.modal {
  width: 528px;
  flex-shrink: 0;
  padding: 40px;
  border-radius: 4px;
  background: $white-color;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    color: $dark-gray-color;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
  }
  
  &__label {
    display: block;
    margin-bottom: 4px;
  }
  
  &__holder {
    position: relative;
  }
  
  &__input {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 13px 0 13px 42px;
    width: 448px;
  
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      border: 1px solid $color-blue;
    }
    
    &:focus {
      border: 1px solid $color-blue;
    }
  }
  
  &__svg {
    width: 18px;
    height: 18px;
    position: absolute;
    fill: black;
    top: 14px;
    left: 14px;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__input:hover + &__svg {
    fill: $color-blue;
  }
  
  &__input:focus + &__svg {
    fill: $color-blue;
  }
  
  &__people-svg {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 17px;
    left: 16px;
  }
  
  &__name-input {
    padding: 14px 0 14px 42px;
  }
  
  &__name-label {
    color: $light-gray-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }
  
  &__phone-label {
    color: $light-gray-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }
  
  &__mail-label {
    color: $light-gray-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }
  
  &__comment-label {
    color: $light-gray-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }
  
  &__comment-input {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    flex-shrink: 0;
    width: 448px;
    padding: 12px 0 96px 16px;
  
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      border: 1px solid $color-blue;
    }
    
    &:focus {
      border: 1px solid $color-blue;
    }
  }
  
  input &__comment-input::placeholder {
    color: $modal-input-placeholder;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }
  
  &__box {
    @extend %list-position;
    gap: 5px;
    margin-top: 20px;
    padding-left: 13px;
    position: relative;
  }
  
  &__checkbox-input {
    background-color: transparent;
    border: solid 2px $dark-gray-color;
  }
  
  &__checkbox-text {
    color: $light-gray-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
  }
  
  &__checkbox-link {
    color: $color-blue;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    margin-left: 5px;
  }
  
  &__close {
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $white-color;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    @extend %list-position;
  
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      transform: scale(1.1);
    }
  }
  
  &__close-svg {
    fill: $black-color;
    width: 18px;
    height: 18px;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__close:hover &__close-svg {
    fill: $color-blue;
  }
  
  &__button {
    border-radius: 4px;
    cursor: pointer;
    background: $color-blue;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    color: $white-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.96px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      transform: scale(1.03);
    }
  }
}