.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $modal-bc;
  backdrop-filter: blur(5px);
  opacity: 1;
  z-index: 100;

  transform: scale(1);
  transition-duration: 500ms;
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
  transition-duration: 500ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  flex-shrink: 0;
  background: $white-color;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%);

  &__title {
    @include text-styles(20px, normal, 700, 0.6px);
    color: $dark-gray-color;
  }

  &__list {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__label {
    margin-bottom: 4px;
    display: block;
  }

  &__holder {
    position: relative;
  }

  &__input {
    width: 448px;
    padding: 13px 0 13px 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border: 1px solid $color-blue;
    }

    &:focus {
      border: 1px solid $color-blue;
    }
  }

  &__svg {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 18px;
    height: 18px;
    fill: black;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:hover + &__svg {
    fill: $color-blue;
  }

  &__input:focus + &__svg {
    fill: $color-blue;
  }

  &__people-svg {
    position: absolute;
    top: 17px;
    left: 16px;
    width: 12px;
    height: 12px;
  }

  &__name-input {
    padding: 14px 0 14px 42px;
  }

  &__name-label {
    @include text-styles(12px, normal, 400, 0.12px);
    color: $light-gray-color;
  }

  &__phone-label {
    @include text-styles(12px, normal, 400, 0.12px);
    color: $light-gray-color;
  }

  &__mail-label {
    @include text-styles(12px, normal, 400, 0.12px);
    color: $light-gray-color;
  }

  &__comment-label {
    @include text-styles(12px, normal, 400, 0.12px);
    color: $light-gray-color;
  }

  &__comment-input {
    width: 448px;
    padding: 12px 0 96px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    flex-shrink: 0;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border: 1px solid $color-blue;
    }

    &:focus {
      border: 1px solid $color-blue;
    }
  }

  input &__comment-input::placeholder {
    @include text-styles(12px, normal, 400, 0.12px);
    color: $modal-input-placeholder;
  }

  &__box {
    position: relative;
    margin-top: 20px;
    padding-left: 13px;
    @extend %list-position;
    gap: 5px;
    height: 24px;
  }

  &__checkbox-input {
    border: solid 2px $dark-gray-color;
    background-color: transparent;
  }

  &__checkbox-label {
    @include text-styles(14px, 1.7, 400, 0.42px);
    color: $light-gray-color;
  }

  &__checkbox-link {
    margin-left: 5px;
    @include text-styles(14px, 1.7, 400, 0.42px);
    color: $color-blue;
    text-decoration-line: underline;
  }

  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
    @extend %list-position;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $white-color;
    border-radius: 50%;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.1);
    }
  }

  &__close-svg {
    width: 18px;
    height: 18px;
    fill: $black-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close:hover &__close-svg {
    fill: $color-blue;
  }

  &__button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    background: $color-blue;
    @include text-styles(16px, 1.8, 700, 0.96px);
    color: $white-color;
    text-align: center;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.03);
    }
  }
}