.second-section-list {
    display: flex;
    gap: 30px;
  }
  
  .ssi1::before {
    content: "";
    display: block;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    background-image: url(../../../img/imgIndex/ssi/antenna1.webp);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .ssi2::before {
    content: "";
    display: block;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    background-image: url(../../../img/imgIndex/ssi/clock2.webp);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .ssi3::before {
    content: "";
    display: block;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    background-image: url(../../../img/imgIndex/ssi/diagram3.webp);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .ssi4::before {
    content: "";
    display: block;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    background-image: url(../../../img/imgIndex/ssi/astronaut4.webp);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .second-section {
    padding-top: 94px;
  }
  
  .second-section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14285714;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  
    margin-top: 33px;
    margin-bottom: 10px;
  }
  
  .second-section-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71428571;
    letter-spacing: 0.03em;
    color: #757575;
  }