.team {
  background-color: $advantages-before-bc-team-bc-portfolio-link-color;
  @include sections-retreat(94px, 94px);

  &__title {
    @include text-styles(36px, 1.17);
    color: $dark-gray-color;
    text-align: center;
  }
  
  &__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  &__item {
    background-color: $white-color;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding-bottom: 30px;
    border-radius: 4px;
  }
  
  &__image {
    width: 270px;
  }
  
  &__subtitle {
    margin-top: 30px;
    @include text-styles(16px, 1.19, 500);
    color: $dark-gray-color;
    text-align: center;
  }
  
  &__text {
    margin-top: 10px;
    @include text-styles(16px, 1.19, 400);
    color: $light-gray-color;
    text-align: center;
  }
  
  &__socials {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  &__icons {
    display: flex;
    justify-content: center;
    background-color: $white-color;
    padding: 12px;
    border-radius: 90px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      background-color: $color-blue;
    }
    
    &:focus {
      background-color: $color-blue;
    }
  }
  
  &__icons:hover &__icon {
    fill: $white-color;
  }
  
  &__icons:focus &__icon {
    fill: $white-color;
  }
  
  &__icon {
    width: 20px;
    height: 20px;
    fill: $customers-team-sections-link-social-icon-color-gray;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }  
}