.work {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16666667;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark-gray-color;
  }
  
  &__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
  }
  
  &__item {
    position: relative;
  }
  
  &__box {
    position: absolute;
    width: 360px;
    height: 70px;
    background-color: $work-box-bc;
    left: 0;
    bottom: 0;
    opacity: 80%;
    @extend %list-position;
    justify-content: center;
  }
  
  &__text {
    color: $white-color;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  } 
}