$color-blue: #2196f3;
$white-color: #FFF;
$dark-gray-color: #212121;
$light-gray-color: #757575;
$black-color: #000;

$hero-overlay-bg: rgba(47, 48, 58, 0.4);

$modal-bc: rgba(0, 0, 0, 0.6);
$modal-input-placeholder: rgba(117, 117, 117, 0.5);

$advantages-before-bc-team-bc-portfolio-link-color: #f5f4fa;

$work-box-bc: #2f303acc;

$customers-team-sections-link-social-icon-color-gray: #afb1b8;

$portfolio-header-border-color: #ECECEC;
$portfolio-content-overlay-blue: rgba(33, 150, 243, 0.9);

$content-link-border: #EEEEEE;

$footer-bc: #2f303a;
$footer-link-color: rgba(255, 255, 255, 0.6);
$footer-icons-color: rgba(255, 255, 255, 0.1);

$footer-input-border-color: rgba(255, 255, 255, 0.3);
$footer-input-background-color: rgba(33, 150, 243, 0);