.footer {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  @media screen and (min-width: 768px) {
    height: 463px;
  }

  @media screen and (min-width: 1200px) {
    height: auto;
  }

  &__logo {
    @extend %list-position !optional;
    @include text-styles(24px, normal, 700, 0.72px);
    font-family: "Raleway";
    color: $color-blue;

    @media screen and (min-width: 1200px) {
      @include text-styles(26px, normal, 700, 0.78px);
    }
  }

  &__container {
    position: relative;
    @extend %display-column-center !optional;
    gap: 60px;

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__box1 {
    @extend %display-column-center !optional;

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 76px;
      width: 232px;
    }

    @media screen and (min-width: 1200px) {
      position: static;
      align-items: start;
      padding: 0;
    }
  }

  &__logo span {
    color: $white-color;
  }

  &__address {
    font-family: "Roboto";
    @include text-styles(14px, 1.72, 400, 0.42px);
    font-style: normal;
    margin-top: 20px;
    color: $white-color;

    @media screen and (min-width: 1200px) {
      @include text-styles(14px, 1.72, 700, 0.03em);
    }
  }

  &__list {
    margin-top: 8px;
    @extend %display-column-center !optional;
    gap: 8px;
  }

  &__link {
    @include text-styles(14px, 1.72, 400, 0.42px);
    margin-top: 9px;
    color: $footer-link-color;

    @media screen and (min-width: 1200px) {
      @include text-styles(14px, 1.72, 700, 0.03em);
    }
  }

  &__box2 {
    @extend %display-column-center !optional;

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      right: 89px;
      width: 206px;
    }

    @media screen and (min-width: 1200px) {
      position: static;
      align-items: start;
    }
  }

  &__text {
    color: $white-color;
    @include text-styles(14px, normal, 700, 0.42px);
    text-transform: uppercase;
  }

  &__socials {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  &__icons {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
    background-color: $footer-icons-color;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icons:hover {
    background-color: $color-blue;
  }

  &__icons:focus {
    background-color: $color-blue;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $white-color;
  }

  &__text {
    @include text-styles(14px, normal, 700, 0.42px);
    text-transform: uppercase;
    color: $white-color;
  }

  &__form {
    width: 100%;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 768px) {
      width: auto;
      position: absolute;
      top: 187px;
      left: 50%;
      transform: translate(-50%);
    }

    @media screen and (min-width: 1200px) {
      position: static;
      transform: translate(0);
      align-items: start;
    }
  }

  &__form-div {
    @extend %display-column-center !optional;
    width: 100%;
    gap: 20px;

    @media screen and (min-width: 768px) {
      width: auto;
    }

    @media screen and (min-width: 1200px) {
      align-items: start;
      flex-direction: row;
    }
  }

  &__subscription {
    @include text-styles(14px, normal, 700, 0.42px);
    text-transform: uppercase;
    color: $white-color;

    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
    }
  }

  &__input {
    width: 100%;
    padding: 15px 185px 15px 16px;
    border-radius: 4px;
    border: 1px solid $footer-input-border-color;
    background-color: $footer-input-background-color;
    flex-shrink: 0;

    @media screen and (min-width: 768px) {
      width: auto;
      padding: 15px 250px 15px 16px;
    }

    @media screen and (min-width: 1200px) {
      padding: 15px 185px 15px 16px;
    }
  }

  input &__input::placeholder {
    @include text-styles(16px, 1.2, 400, 0.48px);
    color: $footer-link-color;
  }

  &__button {
    position: relative;
    padding: 10px 62px 10px 28px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    @include text-styles(16px, 1.8, 700, 0.96px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: $color-blue;
    color: $white-color;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover {
    transform: scale(1.03);
  }

  &__button-svg {
    position: absolute;
    left: 148px;
    top: 13px;
  }
}
