.header {
  border-bottom: 1px solid $portfolio-header-border-color;
  @include sections-retreat(24px, 25px);

  &__navigation {
    display: flex;
  }
  
  &__logo {
    @include text-styles(26px, 1.19);
    color: $color-blue;
    font-family: "Raleway";
  }
  
  &__logo span {
    color: $black-color;
  }
  
  &__navigation-list {
    margin-left: 93px;
    display: flex;
    gap: 50px;
    align-items: center;
  }
  
  &__navigation-item {
    position: relative;
  }
  
  &__navigation-link {
    @include text-styles(14px, 1.14, 500, 0.02em);
    color: $dark-gray-color;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      color: $color-blue;
    }
    
    &:focus {
      color: $color-blue;
    }
  }
  
  &__navigation-widget {
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: $white-color;
    transform: translatey(100%);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__navigation-link:hover + &__navigation-widget {
    transform: translatey(0);
    background-color: $color-blue;
  }
  
  &__navigation-link:focus + &__navigation-widget {
    transform: translatey(0);
    background-color: $color-blue;
  }
  
  &__navigation-second-page {
    position: relative;
    display: block;
    @include text-styles(14px, 1.14, 500, 0.02em);
    color: $color-blue;
  
    &::after {
      @extend %pseudo-elements-basic-styles !optional;
      position: absolute;
      top: 46px;
      left: 0;
      height: 4px;
      border-radius: 2px;
      background-color: $color-blue;
    }
  }
  
  &__contacts-list {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  &__contacts-link {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover {
      transform: scale(1.02);
    }
    
    &:focus {
      transform: scale(1.02);
    }
  }
  
  &__contacts-text {
    @include text-styles(14px, 1.14, 500, 0.02em);
    color: $light-gray-color;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__contacts-link:hover &__contacts-text {
    color: $color-blue;
  }
  
  &__contacts-link:focus &__contacts-text {
    color: $color-blue;
  }
  
  &__contacts-svg-mail {
    width: 16px;
    height: 12px;
    fill: $light-gray-color;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__contacts-link:hover &__contacts-svg-mail {
    fill: $color-blue;
  }
  
  &__contacts-link:focus &__contacts-svg-mail {
    fill: $color-blue;
  }
  
  &__contacts-svg-smartphone {
    width: 10px;
    height: 16px;
    fill: $light-gray-color;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__contacts-link:hover &__contacts-svg-smartphone {
    fill: $color-blue;
  }
  
  &__contacts-link:focus &__contacts-svg-smartphone {
    fill: $color-blue;
  }
  
}