.content {
  @include sections-retreat(20px, 60px);

  @media screen and (min-width: 768px) {
    @include sections-retreat(15px, 60px);
  }

  @media screen and (min-width: 1200px) {
    @include sections-retreat(25px, 94px);
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    height: 100%;

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 440px;
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
      height: 404px;
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: block;
    outline: solid $content-link-border;

    transition-property: box-shadow, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
      transform: scale(1.05);
    }

    &:focus {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
      transform: scale(1.05);
    }
  }

  &__box {
    width: 100%;
    height: 294px;
    position: relative;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__overlay {
    background-color: $portfolio-content-overlay-blue;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translatey(100%);
    padding: 63px 24px;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover &__overlay {
    transform: translatey(0);
  }

  &__link:focus &__overlay {
    transform: translatey(0);
  }

  &__overlay-text {
    font-family: "Roboto";
    color: $white-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $dark-gray-color;
    margin-top: 20px;
  }

  &__text {
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 4px;
  }

  &__subtitle,
  &__text {
    padding-left: 24px;
  }
}
