body {
  font-family: "Roboto";
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-navigation {
  display: flex;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19230769;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-logo span {
  color: #000;
}

.navigation-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
  align-items: center;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14285714;
  letter-spacing: 0.02em;
  color: #212121;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover {
  color: #2196f3;
}

.navigation-link:focus {
  color: #2196f3;
}

.navigation-widget {
  display: block;
  position: absolute;
  top: 47px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: white;
  transform: translatey(100%);

  transition-property: transform, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover + .navigation-widget {
  transform: translatey(0);
  background-color: #2196f3;
}

.navigation-link:focus + .navigation-widget {
  transform: translatey(0);
  background-color: #2196f3;
}

.navigation-second-page {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14285714;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.navigation-second-page::after {
  content: "";
  display: block;
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.navigation-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover {
  transform: scale(1.02);
}

.contact-link:focus {
  transform: scale(1.02);
}

.contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14285714;
  letter-spacing: 0.02em;
  color: #757575;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .contact-text {
  color: #2196f3;
}

.contact-link:focus .contact-text {
  color: #2196f3;
}

.svg-icon-mail {
  width: 16px;
  height: 12px;
  fill: #757575;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .svg-icon-mail {
  fill: #2196f3;
}

.contact-link:focus .svg-icon-mail {
  fill: #2196f3;
}

.svg-icon-smartphone {
  width: 10px;
  height: 16px;
  fill: #757575;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .svg-icon-smartphone {
  fill: #2196f3;
}

.contact-link:focus .svg-icon-smartphone {
  fill: #2196f3;
}

/* MAIN */

.main-navigation-list {
  display: flex;
  gap: 9px;
  justify-content: center;
}

.main-navigation-item {
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-navigation-item:hover {
  transform: scale(1.06);
}

.section-navigation {
  padding-top: 94px;
  padding-bottom: 50px;
}

.main-navigation-link {
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  background-color: #f5f4fa;
  display: block;
  border-radius: 4px;

  transition-property: transform, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-navigation-link:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-navigation-link:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* content */

.content {
  padding-bottom: 94px;
}

.content-subtitle,
.content-text {
  padding-left: 24px;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.content-item {
  flex-basis: calc((100% - 60px) / 3);
  width: 370px;
  height: 404px;
}

.content-link {
  display: block;
  width: 100%;
  height: 100%;
  outline: solid #eeeeee;

  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.content-link:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

.content-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.content-image {
  width: 100%;
}

.content-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
}

.content-text {
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.content-box {
  width: 100%;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translatey(100%);
  padding: 63px 24px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.content-link:hover .overlay {
  transform: translatey(0);
}

.content-link:focus .overlay {
  transform: translatey(0);
}

.overlay-text {
  font-family: "Roboto";
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}

/* FOOTER */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19230769;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo span {
  color: #ffffff;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71428571;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71428571;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer-box2 {
  padding-top: 6px;
  margin-left: 70px;
  margin-right: 93px;
}

.footer-text {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-socials {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-icons {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  padding: 12px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:hover {
  background-color: #2196f3;
}

.footer-icons:focus {
  background-color: #2196f3;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:hover .footer-icon {
  fill: #ffffff;
}

.footer-icons:hover .footer-icon {
  fill: #ffffff;
}

.footer-form {
  padding-top: 6px;
}

.footer-subscription {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
  padding: 15px 167px 15px 16px;
  margin-right: 12px;
}

input.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
}

.footer-button {
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 62px 10px 28px;
  position: relative;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover {
  transform: scale(1.03);
}

.footer-svg {
  position: absolute;
  left: 148px;
  top: 13px;
}
